BIND_ADDR=127.0.0.1:6465
SERVERS_FILE=servers.txt
SSH_USER=root
KEY_FILE=
# default: failover, available: failover|loadbalance
SELECT_STRATEGY=failover
TARGET_HOST=127.0.0.1
TARGET_PORT=80
MODE=socks5
HEALTH_CHECK=true
RETRY_COUNT=3
TARGET_RETRY_UPSTREAMS=3
TARGET_FAIL_THRESHOLD=1
TARGET_FAIL_TTL=10m
SHOW_UPSTREAM_STATS=true
PROXY_COMMAND=
